.home {
	.intro-section {
		border-bottom: 2px dashed @navigation-border;
		padding-bottom: 10px;

		.text-content {
			margin: 2rem 0 0;
		}
	}

	.content-section {
		margin: 30px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.text-content {
			width: 48%;
			padding-right: 1%;

			@media @mobile {
				width: 100%;
			}
		}

		.img-content {
			width: 48%;
			padding-left: 1%;

			@media @mobile {
				width: 100%;
				padding-left: 0;
			}

			img {
				border-radius: 10px;

				@media @mobile {
					width: 100%;
				}
			}
		}
	}

	.inverse-content {
		padding-bottom: 30px;
		border-bottom: 2px dashed @navigation-border;

		.text-content {
			padding-left: 1%;
			padding-right: 0;

			@media @mobile {
				order: -1;
			}
		}

		.img-content {
			padding-right: 1%;
			padding-left: 0;
		}
	}

	.content-destination {
		width: 75%;
		margin: 0 auto 30px;

		@media @mobile {
			width: 100%;
		}

		img {
			border-radius: 10px;
		}
	}

	.content-pick {
		padding-top: 30px;
		border-top: 2px dashed @navigation-border;
		display: flex;
		justify-content: space-between;

		@media @mobile {
			flex-direction: column;
			align-items: center;
		}

		.destination {
			width: 30%;
			margin-bottom: 30px;

			@media @mobile {
				width: 80%;
			}

			.btn {
				.primary-btn(@surfie-green, @white, 200px, 15px);
				padding: 13px 30px;
				text-align: center;
				font-size: 18px;
				display: inline-block;
				border: 1px solid @navigation-border;
				.transition(all, 0.35s, ease-in-out);

				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}

				@media @mobile {
					background: @button-bg;
					width: 100%;
				}
			}
		}
	}

	.contact-form {
		border-top: 2px dashed @navigation-border;
		padding-top: 30px;

		.inner-content {
			max-width: 600px;
			margin: 0 auto;
    }
    
    .main-form {
      width: 40rem;
    }

		.form-container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px 0 50px;
			display: flex;
			justify-content: center;

			@media @mobile {
				max-width: 290px;
				text-align: center;
			}

			.form-row {
				margin-bottom: 3.2rem;

				@media @mobile {
					display: block;
				}

				label {
					font-size: 1.7rem;
					display: block;
					color: @shark;
          margin-bottom: 1rem;
          text-align: left;
				}

				input {
					padding: 10px 20px 10px 5px;
					width: 100%;
					border: 2px solid @shark;
					border-radius: 3px;
					font-size: 14px;
					transition: 0.2s all ease-in-out;

					&:focus {
						outline: none;
            border: 2px solid @button-bg;
					}
				}

				textarea {
					min-height: 100px;
					padding: 20px;
					padding: 10px 20px 10px 5px;
					width: 100%;
					border: 2px solid @shark;
					border-radius: 4px;
					font-size: 14px;
          transition: 0.2s all ease-in-out;
					resize: none;

					&:focus {
						outline: none;
            border: 2px solid @button-bg;
					}
				}
			}

			.submit-row {
				display: flex;
				margin-top: 4rem;
			}

			.btn {
				display: inline-block;
				padding: 12px 20px;
				font-size: 1.6rem;
				.primary-btn(@surfie-green);
				.transition(0.2s, all, ease-in-out);

				&:hover {
					opacity: 0.8;
					cursor: pointer;
				}
			}
		}
	}
} // home
